<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@600&family=Tilt+Prism&family=Ubuntu&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Tilt+Prism&family=Ubuntu&display=swap"
        rel="stylesheet">
    <!-- icons -->
    <script src="https://kit.fontawesome.com/6d5b2cec0a.js" crossorigin="anonymous"></script>
    <!-- bootstrap and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <script src="../seeds/main.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles/doc.css"> -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/doc.css">
    <link rel="stylesheet" href="styles/appointment.css">
    <title>Make an appointment</title>
</head>

<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="row">
        <div class="topbar"> <b>Follow Us on Social Media</b>
            <a href="https://twitter.com/" class="socials"><i class="fa-brands fa-twitter"
                    style="color: black;"></i></a>
            <a href="https://www.facebook.com/" class="socials"><i class="fa-brands fa-facebook"
                    style="color: black;"></i></a>
            <a href="https://www.instagram.com/" class="socials"><i class="fa-brands fa-instagram"
                    style="color: black;"></i></a>
            <a href="https://www.linkedin.com/" class="socials"><i class="fa-brands fa-linkedin"
                    style="color: black;"></i></a>
        </div>
        <!-- <div id="conts" class="col-lg-6"> -->

        <!-- <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com"><b>contact@example.com</b></a> -->
        <!-- <i class="bi bi-phone" ></i> <b>Ph. No.: +91 123456789</b> -->
        <!-- </div> -->
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center">
            <a href="#intro-text" class="logo me-auto"><img src="Hospital-imgs/hospital-logo.jpg" alt=""
                    class="img-fluid"></a>
            <h2 class="logo me-auto"><a href="index.ejs">Medi-Care</a></h2>
            <!-- Uncomment below if you prefer to use an image logo -->
        </div>
    </header>
    <section>
        <h1 class="top-heading">Doctor Appointment Request Form</h1>
        <div class="heading">
            <h3 class="top-heading" style="color: #164B60;">Fill the details below and we will book an appointment
                for you!</h3>
        </div>

        <div class="dept">
            <form method="post" action="/appointment/history">
                <table id="appt-table" class="table">
                    <tr class="trow">
                        <td>
                            <label for="name">Enter patient name: </label>
                        </td>
                        <td>
                            <h4>
                                <input class="form-control" type="text" id="name" name="name" required>
                            </h4>
                        </td>
                    </tr>
                    <tr class="trow">
                        <td>
                            <label for="name">Phone Number (with Country Code): </label>
                        </td>
                        <td>
                            <h4>
                                <input class="form-control" type="number" id="phno" name="phno" required>
                            </h4>
                        </td>
                    </tr>
                    <tr class="trow">
                        <td>
                            <label for="name">Enter patient age: </label>
                        </td>
                        <td>
                            <h4>
                                <input class="form-control" type="number" id="age" name="age" required>
                            </h4>
                        </td>
                        <td>
                            <label for="name">Enter patient Gender (M/F): </label>
                        </td>
                        <td>
                            <h4>
                                <input class="form-control" type="text" id="gender" name="gender" required>
                            </h4>
                        </td>
                        <td>
                            <label for="name">Enter patient weight (in kg): </label>
                        </td>
                        <td>
                            <h4>
                                <input class="form-control" type="number" id="weight" name="weight" required>
                            </h4>
                        </td>
                    </tr>

                    <tr class="trow">
                        <td><label for="">Specialization: </label></td>
                        <td><select name="Select1" id="Select1" onchange="populate(this.id, 'Select2')">
                                <option value="">--Choose department--</option>
                                <option value="Cardiology">Cardiology</option>
                                <option value="Pediatrics">Pediatrics</option>
                                <option value="Neurology">Neurology</option>
                                <option value="Hepatology">Hepatology</option>
                                <option value="Opthalmology">Opthalmology</option>
                                <option value="Gynecology">Gynecology</option>
                                <option value="Dermatology">Dermatology</option>
                                <option value="Orthopaedic">Orthopaedics</option>
                                <option value="Dentistry">Dentistry</option>

                            </select></td>
                    </tr>
                    <tr>
                        <td><label for="Select2">Doctors Available: </label></td>
                        <td><select name="Select2" id="Select2">
                                <% doctor.forEach(function(doc){%>
                                    <option value=" <%=doc.name %>" class="<%= doc.dept %>">
                                        <%= doc.name %>
                                    </option>
                                    <% }) %>
                            </select></td>
                    </tr>
                    <tr class="trow">
                        <td><label>Select Date and your preffered Time Slot: </label></td>
                        <td>
                            <h4>
                                <input type="datetime-local" name="timeSlot" id="Test_DatetimeLocal">
                            </h4>
                        </td>
                    </tr>
                    <!-- <tr class="trow">
                <td>Select Time Slot: </td>
                <td><select id="Select1">
                    
                   <option value="timings"><p>Timings: <
                </select></td>
            </tr> -->
                </table>
                <div class="lg-6">
                    <button class="history-btn">Create Appointment!</button>
                </div>
                <div class="lg-6">
                </div>
            </form>
            <form class="history-form" action="/appointment/history" method="get">
                <button class="history-btn">View medical history</button>
            </form>
        </div>
    </section>

    <script>
        function populate(sourceSelectId, targetSelectId) {
            var selectedOptionValue = $("#" + sourceSelectId).val();
            var targetSelect = $("#" + targetSelectId);
            $.ajax({
                url: '/api/doctors?department=' + selectedOptionValue,
                method: 'GET',
                // Additional parameters or headers as needed
                success: function (data) {
                    // Clear existing options in the target select
                    targetSelect.empty();

                    // Loop through the data from the API and create options
                    $.each(data, function (index, item) {
                        targetSelect.append($('<option>', {
                            value: item.name,
                            text: item.name
                        }));
                    });
                },
                error: function (error) {
                    console.error("Error fetching data from the API: " + error);
                }
            });
        }
    </script>
</body>

</html>