<%- layout('layouts/boilerplate') %>

  <head>
    <title>Medi-Care Login</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/users.css">
    <link rel="stylesheet" href="styles/registerLogin.css">
  </head>

  <body>
    <h3 class="regLogin-heading" style="color: #164B60;">Please Login To Access All Functionalities!</h3>
    <div class="loginReg-div">
      <div class="card" style="height: 450px; ">
        <div class="card-body">
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="input">
              <label class="form-label" for="username">Username:</label>
              <input class="form-control" type="username" id="username" name="username" required
                style="font-size: medium; height:fit-content;">

              <div class="valid-feedback">
                Looks good!
              </div>
              <label class="form-label" for="password">Password:</label>
              <input class="form-control" type="password" id="password" name="password" required
                style="font-size: medium;">
              <div class="valid-feedback">
                <h5>Looks good!</h5>
              </div>
            </div>
            <div class="login-btn">
              <button class="btn btn-success btn-lg" id="button">Login</button>
            </div>
          </form>
          <p style="font-size: 20px">New User?
            <br><a href="/register">SignUp</a>
          </p>

        </div>
      </div>
    </div>
    <script src="javascripts/validateform.js"></script>
  </body>

  </html>