.top-heading{
  padding: 10px 5px;
  text-align: center;
}
.table{
  align-items: center;
  padding-top: 15px;
  padding-left: 35%;
  font-size: larger;
}
.trow{
  padding: 10px 5px;
}
.history-form{
  align-items: center;
  padding-top: 15px;
  padding-left: 35%;
}
