.page-heading{
    text-align: center;
    color: #2c4964;
    padding: 10px 5px;
}
#header{
    background: linear-gradient(115deg,#2c4964,#007c9d,#ACB1D6,#12bcfe,#1977cc);
}
.timing{
    text-align: right;
}
.phno{
    text-align: right;
}
.page-table{
  padding-top: 15px;
  display: flex;
  justify-content: center;
  font-size: larger;
  border-style: double;
}
.h2{
    background-color: #fff;
}
.trow{
    padding: 10px 5px;
  }
.tdata{
    padding: 10px 20px;
    font-size: 1.5rem;
}
.page-content{
    text-align: center;
    
}
.pdf-button{
    margin-left: 30%;
    margin-top: 3%;
}
/* footer{
    background: linear-gradient(115deg,#2c4964,#007c9d,#ACB1D6,#12bcfe,#1977cc);
    height: 30px;
    text-align: center;
} */